<!-- _includes/member.html -->
<div class="card card-no-shadow text-center">
    {% if member.redirect -%}
    <a href="{{ member.redirect }}">
      {%- else -%}
      {% if member.page %}
      <a href="{{ member.url | relative_url }}">
      {% endif %}
        {%- endif %}
        {% if member.page %}
          <div class="member-card hoverable">
        {% else %}
          <div class="member-card">
        {% endif %}
        {%- if member.img %}
        {%- include figure.html
          path=member.img
          alt="thumbnail" -%}
        {%- endif %}
          <div class="card-body">
            <h3 class="card-title">{{ member.name }}</h3>
            {%- if member.degree %}
              <p class="card-text">{{ member.degree }}</p>
            {%- endif %}
            {%- if member.contact %}
              <p class="card-text">{{ member.contact }}</p>
            {%- endif %}
          </div>
        </div>
      {% if member.redirect or member.page %}
      </a>
      {% endif %}
  </div>